.content {
    text-align: left;
    .tips {
        line-height: 30px;
        background: #fffdc8;
        font-size: 12px;
        padding-left: 11px;
    }
    .carUl {
        li {
            border-bottom: 1px solid #ddd;
        }
    }
}